%div{class:"front", id: "front_page"} 
  %h1.title Ultimate Code 
  - if logged_in?
    = form_tag new_document_path, :id => "new_document", :method => :get do
      = submit_tag 'New Document', :class => "btn"
    = link_to "Sign out", logout_path
  - else
    = link_to "Log in with your Google Account", '/auth/google_oauth2'