%h1.title Ultimate Code

- if logged_in?
  = form_tag new_document_path, :id => "new_document", :method => :get do
    = submit_tag 'New Document', :class => "btn"
  %p.logout= link_to "Sign out", logout_path
- else
  %p.login= link_to "Log in with your Google Account", '/auth/google_oauth2'
