%h2 Collaborate

= select_tag :pl, options_for_select(@programming_languages)
%button{class: "btn_invite"}(onclick="invite()")invite 
%br
%b
%textarea{class: "text", rows: "33", cols: "135"}
%br
%br



