%html
  %head
    %script(src="//code.jquery.com/ui/1.11.1/jquery-ui.min.js")
    %script(src="//code.jquery.com/jquery-1.11.1.min.js")
    %link(href="//code.jquery.com/ui/1.11.1/themes/smoothness/jquery-ui.css"  rel="stylesheet")
    
    
    
    
    
    
    %div{class:"p2_title"} 
      %button{class:"button_add button2", id:"myBtn"} invite 
      %label{class:"switch"}
        %input{type:"checkbox", id:"switch"}
        %span{class:"slider"} 
          %span{class:"word"} Off&nbsp;On
      
      = select_tag :p_font, options_for_select(@font_size), :id => "selector4"
      = select_tag :pl, options_for_select(@programming_languages), :id => "selector3"
      = select_tag :p_style, options_for_select(@theme), :id => "selector2"
      
        
    %div{class:"modal", id: "myModal"} 
      %div{class:"modal-content"} 
        %span{class: "close"}
          &times;
        %p{id:"modal_title"} Invite Collaborators
        %input{type: "text", class: "text-line"} 
        %p{id:"modal_footer"} Invited: 
        %button{class:"button_add button1"} Add 
        
    %br       
    %b
    %div{id:"editor"} 
      %pre{id:"editor"} 
    %textarea{class: "text", id: "myTextarea"}
    %br
    %br



