/*background-image: url('https://images.unsplash.com/photo-1546430498-05c7b929830e?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=2100&q=80');*/

html, body {
  background-image: url('https://images.unsplash.com/photo-1546430498-05c7b929830e?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=2100&q=80');
  background-size: cover;
  color: DarkSlateGrey;
  font-family: 'Josefin Sans', sans-serif;
  font-size: 10pt;
}
textarea {
    padding: 30px;
}
.text {
    
    margin-top: 20px;
    background: #333333;
    border: 0.1em solid #ffffff;
    width: 100%;
    height: 600px;
    font-size: 16px;
    color: #ffffff;
}
/*.front{
  margin-top: 20px;
  border: 0.1em solid #ffffff;
  height: 700px;
  width: 100%;
  background-size: cover;
  background-image: url('https://images.unsplash.com/photo-1546430498-05c7b929830e?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=2100&q=80');
}*/
.btn{
    display: inline-block;
    padding: 0.35em 1.2em;
    border: 0.1em solid #ffffff;
    font-family: 'Josefin Sans', sans-serif;
    
    
    box-sizing: border-box;
    text-decoration: none;
    font-weight: 300;
    font-size: 30px;
    color: #ffffff;
    text-align: center;
    
    
    margin-top: 30px;
    margin-left: 37%;
}

.btn:hover{
    color: #000000;
    background-color: #ffffff;
}

.title{
    color: white;
    font-family: 'Josefin Sans', sans-serif;
    font-size: 80px;
    /*position: fixed;  or absolute */
    margin-left: 25%;
    margin-top: 18%;
    
}

/* The Modal (background) */
.modal {
  display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 5; /* Sit on top */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgb(0,0,0); /* Fallback color */
  background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}

/* Modal Content/Box */
.modal-content {
  background-color: #fefefe;
  margin: 10% auto; /* 15% from the top and centered */
  padding: 20px;
  width: 300px;
  height: 400px;
  color: black;
  border: 1px solid #888;
   /* Could be more or less, depending on screen size */
}

/* The Close Button */
#closeModalBtn {
  color: black;
  float: right;
  font-size: 28px;
  font-weight: bold;
}

#modal_title{
    font-size: 20px; 
    margin: 0 auto;
    
}
.text-line {
    margin-top: 30px;
    background-color: transparent;
    color: #808588;
    font-size: 18px;
    outline: none;
    outline-style: none;
    outline-offset: 0;
    border-top: none;
    border-left: none;
    border-right: none;
    border-bottom: solid #D9DDDC 1px;
    padding: 3px 10px;
}
#button_add{
    
    background-color: #4CAF50; /* Green */
    border: none;
    color: white;
    padding: 16px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 13px;
    margin: 4px 2px;
    transition-duration: 0.4s;
    cursor: pointer;
    
}
.button1 { 
    padding: 10px;
    background-color: white;
    color: black;
    border: 2px solid #e7e7e7;
}
.button2 { 
    width:100px;
    margin-left: 10px;
    padding: 0px;
    background-color: rbga(0,0,0,1);
    color: black;
    height: 35px;
    border: 2px solid #000;
    border-radius: 3px;
    font-size: 18px;
}
.button1:hover {background-color: #e7e7e7;}
.button2:hover{background-color: #e7e7e7;}
#modal_footer{
    color:#1E562D;
    margin-bottom: 10px;
    margin-top: 170px;
    font-size: 12px;
}
.p2_title{

  margin-top:30px;

}
#selector4{
  background-color: white;
  margin-left: 85px;
  border: 2px solid #ccc;
  border-radius: 0px;
  width:120px;
  height: 35px;
}
#selector2{
  background-color: white;
  border: 2px solid #ccc;
  margin-left: 30px;
  border-radius: 0px;
  width:120px;
  height: 35px;
}
#selector3{
  background-color: white;
  margin-left: 30px;
  border: 2px solid #ccc;
  border-radius: 0px;
  width:120px;
  height: 35px;
}
#selector5{
  background-color: white;
  margin-left: 30px;
  border: 2px solid #ccc;
  border-radius: 0px;
  width:120px;
  height: 35px;
}
#editor {
  margin: auto;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  margin-top: 100px;
  border: 0.1em solid #ffffff;
  width: 70%;
  height: 650px;
  
}
/* The switch - the box around the slider */
.switch {
  border:2px solid #ccc;
  border-radius: 4px;
  margin-left: 30px;
  position: absolute;
  display: inline-block;
  width: 70px;
  height: 36px;

}

/* Hide default HTML checkbox */
.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

/* The slider */
.slider {
  position: absolute;
  cursor: pointer;
  color: black;
  padding-top:8px;
  padding-left:6px;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  font-size:15px;
  font-weight: bold;
  background-color: #fff;
  -webkit-transition: .4s;
  transition: .4s;
}


.slider:before {
  position: absolute;
  content: "";
  height: 25px;
  width: 30px;
  left: 4px;
  bottom: 4px;
  background-color: #ccc;
  -webkit-transition: .4s;
  transition: .4s;
}

input:checked + .slider {
  background-color: #fff;
}

input:focus + .slider {
  box-shadow: 0 0 1px #ccc;
}

input:checked + .slider:before {
  -webkit-transform: translateX(30px);
  -ms-transform: translateX(30px);
  transform: translateX(30px);
}


#facebook_icon{
  font-size:47px;
  color:#3b5998;
  margin-right: 10px;
}
#github_icon{
  font-size:47px;
  color:#000;
}
#google_icon{
  font-size:45px;
  margin-right: 10px;
}
#file_icon{
  display: block;
  font-size:25px;
  color:white;
}
.fa-google {
  background: conic-gradient(from -45deg, #ea4335 110deg, #4285f4 90deg 180deg, #34a853 180deg 270deg, #fbbc05 270deg) 73% 55%/150% 150% no-repeat;
  -webkit-background-clip: text;
  background-clip: text;
  color: transparent;
  -webkit-text-fill-color: transparent;
}
.icon {
  margin-top: 20px;
  margin-left: 470px;
}
#sign_in{
  margin-left: 470px;
  color:white;
  font-size: 20px;
  font-weight: bold;
}
.navBtn{
  position: relative;
  z-index:2;
  float:right;
  margin: 15px;
  margin-top: 7px;
  padding: 10px;
  color:black;
  font-size: 15px;
  border: 0.1em solid black;
  font-family: 'Josefin Sans', sans-serif;
}
#docment_name_input{
    width:120px;
    margin-left: 10px;
    padding: 7px;
    color: black;
    height: 37px;
    border: 4px solid #ccc;
    border-radius: 6px;
    font-size: 15px;
}
#invite{
  cursor: pointer;
  position: relative;
  float:right;
  margin: 1px;
  padding: 10px;
  color:black;
  font-size: 15px;
  border: 0.1em solid black;
  font-family: 'Josefin Sans', sans-serif;
}

.doc_name{
  margin-left: 80px;
  padding: 14px;

  background-color: #ccc;
  border:  2px solid white;
  border-radius:  2px;

}
.all{
  z-index: 0;
  margin-top: 35px;
  margin-left: 216px;
  margin-right: 216px;
  border:2px solid white;
  background-color: #ccc;
  padding-bottom: 60px;
}
